body {
  width: 1350px;
  margin: 0 auto;
  font-family: sans-serif; }

a {
  text-decoration: none; }

figure {
  line-height: 120px;
  margin-left: 105px; }

li {
  list-style-type: none; }

nav ul {
  margin: -95px 105px 0 0;
  text-align: right; }
  nav ul li {
    display: inline-block;
    margin-left: 40px; }
    nav ul li a {
      color: #6f6f6f;
      font-size: 18px; }

h1 {
  font-size: 30px;
  color: #484649;
  padding-top: 61px; }

h2 {
  margin-top: 0px;
  font-size: 22px;
  color: #484649; }

h3 {
  margin-top: 0px;
  font-size: 22px;
  color: #ffffff; }

footer {
  height: 350px;
  line-height: 25px;
  padding-top: 60px;
  color: #90877e;
  background-color: #1a1a1a; }
  footer strong, footer a {
    color: #ffffff; }
  footer ul {
    margin-left: -40px; }

form label {
  color: #484649;
  font-size: 18px; }
form .recuadro {
  width: 745px;
  height: 42px;
  margin: 10px 0 30px 0;
  background-color: #f2f2f2;
  color: black;
  border: none;
  border-radius: 10px; }
form textarea {
  width: 745px;
  height: 121px;
  margin: 10px 0 30px 0;
  border: none;
  border-radius: 10px;
  background-color: #f2f2f2;
  color: black; }
form input {
  cursor: pointer; }

.header-top {
  height: 36px;
  background-color: whitesmoke; }

.contact-izq {
  display: inline-block;
  margin: 0 0 0 105px;
  line-height: 36px;
  color: #98989a; }
  .contact-izq a {
    color: #98989a; }

.contact-der {
  margin: -50px 90px 0 0;
  text-align: right; }
  .contact-der li {
    display: inline-block;
    line-height: 36px;
    margin-right: 15px; }

.header-down {
  height: 120px;
  background-color: #ffffff; }

.portada {
  height: 353px;
  background-color: #666666; }
  .portada span {
    line-height: 353px;
    display: block;
    color: #ffffff;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase; }

.our-history {
  height: 666px; }
  .our-history h1 {
    text-align: center; }

.timeline {
  text-align: center;
  margin-bottom: 50px; }
  .timeline li {
    height: 70px;
    width: 70px;
    display: inline-block;
    line-height: 70px;
    margin: 20px 92px 0 92px;
    font-size: 18px;
    border: 2px solid #d13b7a;
    border-radius: 50px;
    background-color: #ffffff; }
    .timeline li a {
      color: #444035; }
      .timeline li a:hover {
        height: 70px;
        width: 70px;
        display: inline-block;
        line-height: 70px;
        border-radius: 50px;
        color: #ffffff;
        font-size: 18px;
        background-color: #d13b7a; }

.line {
  height: 1px;
  width: 1000px;
  float: left;
  margin: -90px 0 0 200px;
  background-color: rgba(152, 152, 154, 0.5); }

.columna {
  width: 350px;
  display: inline-block;
  margin-left: 40px;
  vertical-align: top; }
  .columna p {
    line-height: 25px;
    color: #484649; }

.izq {
  margin: 0 0 0 125px; }

.our-clients {
  height: 337px;
  background-color: #f2f2f2; }
  .our-clients h1 {
    padding-top: 80px;
    text-align: center; }

.clients-logos {
  text-align: right;
  text-align: center; }
  .clients-logos li {
    display: inline-block;
    margin: 40px 30px 0 30px; }
  .clients-logos ul {
    display: inline-block; }

.btn-next {
  font-size: 30px;
  color: #bebebe; }
  .btn-next:hover {
    color: #544d45; }

.contact-bar {
  height: 151px;
  line-height: 110px;
  background-color: #d13b7a;
  color: #ffffff;
  font-size: 22px; }
  .contact-bar p {
    display: inline-block;
    margin-left: 105px; }
  .contact-bar a {
    margin-left: 280px;
    border: 3px solid #ffffff;
    border-radius: 5px;
    padding: 10px 50px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase; }
    .contact-bar a:hover {
      background-color: #ffffff;
      color: #d13b7a; }

.col1 {
  margin-left: 105px; }

.col2 span {
  display: block;
  margin-bottom: 25px;
  margin-top: 5px; }

.contact-info li {
  margin-bottom: 25px; }
.contact-info span, .contact-info a {
  margin-left: 20px;
  text-align: left; }

.icon-footer li {
  display: inline-block; }

.bar-down {
  height: 79px;
  background-color: #222222;
  box-shadow: 5px 5px 30px black; }
  .bar-down small {
    line-height: 79px;
    margin-left: 105px; }
  .bar-down nav {
    text-align: right;
    margin-top: 45px; }
    .bar-down nav a {
      margin-left: -30px;
      font-size: 15px; }

.-social ul {
  margin-left: -40px; }
.-social li {
  display: inline-block; }

.-info a {
  color: #d13b7a; }
.-info ul {
  margin-left: -40px; }
.-info li {
  margin-bottom: 30px;
  vertical-align: middle; }
  .-info li span, .-info li a, .-info li p {
    font-size: 18px;
    margin: 20px 0 0 10px;
    text-align: left; }
  .-info li span {
    color: #484649; }

.iconos-info {
  vertical-align: middle; }

.texto-info:before {
  background-image: url('images/header/place.png" '); }

.contact-form {
  width: 745px;
  display: inline-block;
  margin-left: 40px;
  vertical-align: top; }
  .contact-form p {
    line-height: 25px;
    color: #484649;
    font-size: 18px;
    margin: 35px 0 35px 0; }

.h1-contact {
  padding-top: 40px; }

.boton-form {
  height: 50px;
  line-height: 30px;
  border: 3px solid #ffffff;
  border-radius: 10px;
  padding: 10px 40px;
  margin-bottom: 43px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #d13b7a; }

/*# sourceMappingURL=base.css.map */
