@import "partials/propiedades";

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}


body{
	width: 1350px;
	margin: 0 auto;
	font-family: sans-serif;

}

a{
	text-decoration: none;
}

figure{
	line-height: 120px;
	margin-left: 105px;
}

li{
	list-style-type: none;
}

nav ul{
	margin: -95px 105px 0 0;
	text-align: right;
	
	li{
		display: $display-inline;
		margin-left: 40px;

		a{
			color: rgb(111,111,111);
			font-size: $font-medium;
		}
	}
}

h1{
	font-size: $font-large;
	color: $color-text;
	padding-top: 61px;
}

h2{
	margin-top: 0px;
	font-size:$font-Xmedium;
	color: $color-text;
}

h3{
	margin-top: 0px;
	font-size:$font-Xmedium;
	color: $color-white;
}

footer{
	height: 350px;
	line-height: 25px;
	padding-top: 60px;

	color: rgb(144, 135, 126);
	background-color: rgb(26, 26, 26);

	strong, a{
		color: $color-white;
	}

		ul{
			margin-left: -40px;
		}

}

form{
	label{
	
		color: $color-text;
		font-size: $font-medium;
	}

	.recuadro{
		width: 745px;
		height: 42px;
		margin: 10px 0 30px 0;

		background-color: $color-grey-bg;
		color: black;
		border: none;
		border-radius: 10px;
	}

	textarea{
		width: 745px;
		height: 121px;
		margin: 10px 0 30px 0;

		border: none;
		border-radius: 10px;
		background-color: $color-grey-bg;
		color: black;
	}

	input{
		cursor:pointer;
	}
}

.header-top{
	height: 36px;
	background-color: rgb(245,245,245);
}

.contact-izq{
	display: $display-inline;
	margin: 0 0 0 105px;
	line-height: 36px;
	color: $color-contact-header;
	
	a{
		color: $color-contact-header;
	}
}

.contact-der{
	margin: -50px 90px 0 0;
	text-align: right;
	
	li{
		display: $display-inline;
		line-height: 36px;
		margin-right: 15px;
	}
}

.header-down{
	height: 120px;
	background-color: $color-white;
}

.portada{
	height: 353px;
	background-color: rgb(102,102,102);

	span{
	 	line-height: 353px;
		display: block;

	 	color: $color-white;
		font-size: $font-Xlarge;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase; 
	}
}

.our-history{
	height: 666px;

	h1{
		text-align: center;
	}
}

.timeline{
	text-align: center;
	margin-bottom: 50px;

	li{
		height:70px; 
		width:70px;
		display: $display-inline;
		line-height: 70px;
		margin: 20px 92px 0 92px;

		font-size: $font-medium;
		border: 2px solid $color-bordo;
		border-radius: 50px;
		background-color: $color-white;

		a{
			color: rgb(68,64,53);

			&:hover{
				height:70px; 
				width:70px;
				display: $display-inline;
				line-height: 70px;
				border-radius: 50px;

				color:$color-white;
				font-size: $font-medium;
				background-color: $color-bordo;
			}
		}
	}
}

.line{
	height: 1px;
	width: 1000px;
	float:left;
	margin:-90px 0 0 200px;
	background-color: rgba(152,152,154,0.5);
}

.columna{
	width: 350px;
	display: $display-inline;
	margin-left: 40px;
	vertical-align: top;

	p{
		line-height: 25px;
		color: $color-text;
	}
}

.izq{
	margin: 0 0 0 125px;
}


.stadistics{
	background-color: $color-cream;
	color: $color-darkgrey;
	height: 330px;
	padding: 0 70px;
	text-align: center;

	h1{
		font-size: $font-title;
		font-weight: normal;
		margin: 0 auto;
		padding: 45px 0 30px 0;
		
		span{
		font-weight: bolder;

		}
	}

	ul{
		list-style-type: none;
		padding: 20px 0;
		margin: 0 auto;
		dd{
			margin-left: 0;
		}
	}
}

.heartOrnament{
	box-sizing: border-box;
	display: inline-block;
	height: 30px;
	position: relative;
	
	.small-line{
	background-color: $color-line;
	height: 1.5px;
	margin-top: 12px;
	width: 150px;

		&.left{
		float: right;
		}

		&.right{
		float: left;
		}

		&.shorter{
			width: 60px;
		}

	}

	img{
		height: 24px;
		padding: 0 5px;
		width: 24px;
	}

}

.numbers{
	box-sizing: border-box;
	position: relative;
		
	li{
		display: inline-block;
		line-height: 50px;
		width: 24%;
		dt{
			font-size: $font-prices;

			&.txt-pink{
				color: $color-pink;
			}

			&.txt-lightgrey{
				color: $color-lightgrey;
			}
		}
	}
}


.ourTeam{
	color: $color-darkgrey;
	display: inline-block;
	padding: 0 100px 35px 100px;
	text-align: center;

	h1{
		font-size: $font-title;
		font-weight: normal;
		margin: 0 auto;
		padding: 45px 0 30px 0;
	}

	.columX3{
	box-sizing: border-box;
	display: inline-block;
	width: 33%;
	
		.circle{
			@include border-radius(50%);
		}

		h4{
			color: $color-lightgrey;
			font-size: $font-subtitle;
			margin: 20px 0;

			&:hover{
				color: $color-pink;
			}
		}

		small{
			color: $color-line;
		}

		p{
			color: $color-lightgrey;
			font-size: $font-paragraph;
			line-height: 20px;
			padding: 0 20px;
		}
	}
}


.our-clients{
	height: 337px;
	background-color: $color-grey-bg;

	h1{
		padding-top: 80px;
		text-align: center;
	}
}

.clients-logos{
	text-align: right;
	text-align: center;
	
	li{
		display: $display-inline;
		margin: 40px 30px 0 30px;
	}
		ul{
			display: $display-inline;
		}
	
}

.btn-next{
	font-size: $font-large;
	color: rgb(190, 190, 190);

	&:hover{
		color: rgb(84, 77, 69);
	}
}

.contact-bar{
	height: 151px;
	line-height: 110px;

	background-color: $color-bordo;
	color: $color-white;
	font-size: $font-Xmedium;

	p{
		display: $display-inline;
		margin-left: 105px; 
	}

		a{
			margin-left: 280px;
			border: 3px solid $color-white;
			border-radius: 5px;
			padding: 10px 50px;

			color: $color-white;
			font-size: $font-medium;
			font-weight: bold;
			text-transform: uppercase;

			&:hover{
				background-color: $color-white;
				color: $color-bordo;
			
		}
	}
}

.col1{
	margin-left: 105px;
}

.col2{

	span{
		display: block;
		margin-bottom: 25px;
		margin-top: 5px;
	}
}

.contact-info{

	li{
		margin-bottom: 25px;
	}
		span, a{	
			margin-left: 20px;
			text-align: left;
		}
}

.icon-footer{

	li{
	display: $display-inline;
	}
}

.bar-down{
	height: 79px;
	background-color: rgb(34, 34, 34);
	box-shadow: 5px 5px 30px black ;

	small{
		line-height: 79px;
		margin-left: 105px;
	}

	nav{
		text-align: right;
		margin-top: 45px;

		a{
			margin-left: -30px;
			font-size: $font-small;
		}
	}

}

.-social{

	ul{
		margin-left: -40px;
	}

	li{
		display: $display-inline;
	}	
}

.-info{
	a{
		color: $color-bordo;
	}

	ul{
		margin-left: -40px;
	}

	li{
		margin-bottom: 30px;
		vertical-align: middle;

		span, a, p{
			font-size: $font-medium;
			margin: 20px 0 0 10px;
			text-align: left;
		}

		span{
			color: $color-text;
		}
	}
}

.iconos-info{
	vertical-align: middle;
}

.contact-form{
	width: 745px;
	display: $display-inline;
	margin-left: 40px;
	vertical-align: top;

	p{
		line-height: 25px;
		color: $color-text;
		font-size: $font-medium;
		margin: 35px 0 35px 0;
	}
}

.h1-contact{
	padding-top: 40px;
}

.boton-form{
	height: 50px;
	line-height: 30px;
	border: 3px solid $color-white;
	border-radius: 10px;
	padding: 10px 40px;
	margin-bottom: 43px;

	color: $color-white;
	font-size: $font-medium;
	font-weight: bold;
	text-transform: uppercase;
	background-color: $color-bordo;
}

/* HOME CSS */

.lead{
	height: 600px;
	background-color: rgb(102,102,102);

	span{
	 	display: block;

	 	color: $color-white;
		font-size: 60px;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase; 
		padding-top: 230px;
	}
}
#line_lead{
	text-align: center;
	border-top: 1px solid rgba(152,152,154,0.5);
	box-shadow: 1px 1px 1px 0px rgba(152,152,154,0.5);
}

.products_show{
	height: 476px;
	h1{
		background-color: rgb(243,243,242);
		font-weight: normal;
		height: 100px;
		text-align: center;
	}
}

.main_social{
	text-align: center;
	margin-bottom: 10px;

	li{
		height:70px; 
		width:70px;
		display: $display-inline;
		line-height: 70px;
		margin: 20px 125px 0 110px;

		font-size: $font-medium;
		border: 2px solid $color-bordo;
		border-radius: 50px;
		background-color: $color-white;
		img{
			padding-top: 10px;
			height: 50px;
			width: 50px;
		}
	}
}
.text_articule{
	text-align: center;
	margin-bottom: 50px;

}
.main_text{
	height:150px; 
	width:250px;
	display: $display-inline;
	margin: 5px 20px 0 40px;
	background-color: $color-white;

}
.main_gray{
	height: 151px;
	background-color: rgb(102,102,102);
}

.simple{
	height: 224px;

	ul{
		padding: 55px 0 0 0;
	}
}

.verticalParallax{
	background-image: url("../images/sample-1200x600.png");
	box-sizing: border-box;
	color: $color-white;
	height: 500px;
	line-height: 28px;
	text-align: center;

	video{
		height: 310px;
		padding: 95px 0 0 55px;
		width: 550px;
	}

	h1{
		color: $color-white;
		font-weight: normal;
		margin: 24px 0;
	}

	p{
		font-size: $font-paragraph;
		margin: 0 auto;
		padding: 0 60px 40px 60px;
	}
}

.halfBox{
	display: inline-block;
	vertical-align: middle;
	width: 49%;
}

.shortButton{
	background-color: $color-pink;
	@include border-radius(5px);
	color: $color-white;
	font-size: $font-paragraph;
	font-weight: bolder;
	padding: 14px 30px;
	text-decoration: none;
	text-transform: uppercase;
	width: 114px;

	&:hover{
		background-color: $color-white;
		color: $color-pink;
	}
}

.testimonials{

	box-sizing: border-box;
	padding: 50px 0;

	h1{
		font-weight: normal;
		margin: 0 auto;
		padding: 0 0 35px 0;
		text-align: center;
	}

	.testimonialText{
		
		border: 2px solid $color-line;
		@include border-radius(5px);
		color: $color-lightgrey;
		display: inline-block;
		height: 230px;
		margin-left: 50px;
		vertical-align: middle;
		width: 44%;

		&:hover{
			border: 2px solid $color-pink;
		}

		p{
			font-size: $font-medium;
			font-style: italic;
			line-height: 28px;
			margin: 0 auto;
			padding: 30px 45px;
			text-align: justify;
		}

		img{
			height: 18px;
			display: inline-block;
			width: 20px;
			padding-left: 45px;
		}

		small{
			display: inline-block;
		}

		span{
			font-weight: bolder;
		}
	}

}