$display-inline: inline-block;

$color-text: rgb(72,70,73);

$color-contact-header: rgb(152,152,154);
$color-white: #ffffff;
$color-bordo: rgb(209,59,122);
$color-grey-bg: rgb(242,242,242);

$font-small: 15px;
$font-medium: 18px;
$font-Xmedium: 22px;
$font-large: 30px;
$font-Xlarge: 35px;

$color-cream: rgb(242,242,242);
$color-darkgrey: rgb(52,52,52);
$color-lightgrey: rgb(102,102,102);
$color-pink: rgb(209,68,128);
$color-line: rgba(152,152,154,0.5);

$font-title: 30px;
$font-subtitle: 20px;
$font-paragraph: 14px;
$font-prices: 62px;