$display-inline: inline-block;

$color-text: rgb(72,70,73);

$color-contact-header: rgb(152,152,154);
$color-white: #ffffff;
$color-bordo: rgb(209,59,122);
$color-grey-bg: rgb(242,242,242);

$font-small: 15px;
$font-medium: 18px;
$font-Xmedium: 22px;
$font-large: 30px;
$font-Xlarge: 35px;